:root {
	--fg-color: white;
	--bg-color: black;
	--highlight-color: #4acaa4;
}

html { height: 100%; }

body {
	display: flex;
	flex-direction: column;
	height: 100%;

	background-color: var(--bg-color);
	color: var(--fg-color);

	font-family: sans-serif;
}

main {
	margin-bottom: auto;
	align-self: center;
	max-width: 80em;
	width: 95vw;
}

.hanging-indent {
	padding-left: 2em;
	text-index: -2em;
}

header :first-child { margin-bottom: 0px; }

hr {
	margin: 0px;
	color: var(--fg-color);
}

ul { padding-left: 2em; }

/* Tables */
table { padding-top: 1em; }
th { text-align: left; }
td:first-child { padding-right: 0.5em; }

/* Links */
a {
	color: var(--highlight-color);
	text-decoration: none;
}
a:hover { text-decoration: underline 0.055em; }

/* Quotes */
blockquote p { margin: 0px; }
blockquote p:first-child { font-style: italic; }
blockquote p:nth-child(2) {
	text-indent: 2em;
}

/* Nav */
body { margin: 0px; }
nav { background-color: var(--highlight-color); }
nav a {
	margin-left: 0.2em;

	font-size: 1.6em;
	font-weight: normal;

	color: var(--fg-color);
}
nav a:first-child .label { font-weight: bold; }
nav .label { font-size: 0.7em; }
nav .this-section { font-style: italic; }

/* Footer */
footer {
	background-color: var(--highlight-color);
	text-align: center;
}
footer a {
	color: var(--fg-color);
	font-style: italic;
}
