code {
	border: 0.055em solid var(--highlight-color);
	border-radius: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.1em;
	padding-left: 0.5em;
	padding-right: 0.5em;

	display: inline-block;
	vertical-align: middle;

	background-color: #282828;
}

/* HTML */
/* Tag */ code[data-lang="html"] .t { color: var(--highlight-color); }
/* Element */ code[data-lang="html"] .e { color: #9b5712; }
/* AttributeName */ code[data-lang="html"] .an { color: #91931b; }
/* AttributeValue */ code[data-lang="html"] .av { color: red; }
