{{- /*
For a given collection of global resources, render a table with
the modification date of each resource and a link to the resource.
The resources must be from the assets/ directory in order to get their
modification times.

@context {,} resource.Resources

@example: {{ partial "asset_table.html" (resources.Match "spreadsheets/*.ods") }}
*/}}

<table>
  <thead>
    <tr>
      <th>Mod. date</th>
      <th>File</th>
    </tr>
  </thead>
  <tbody>
  {{ range . }}
    {{- $fpath := printf "assets/%s" .Name -}}
    <tr>
      <td>
      {{- with os.Stat $fpath -}}
        {{- .ModTime | time.Format "2006-01-02" -}}
      {{- end -}}
      </td>
      <td><a href="{{ .RelPermalink }}">{{ path.Base .Name }}</a></td>
    </tr>
  {{- end }}
  </tbody>
</table>
