/* General */
body {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;

	background-color: black;
	color: white;

	font-family: sans-serif;
}

a { text-decoration: none; }
a:hover {
	text-decoration: underline;
	text-decoration-thickness: 0.055em;
}

/* Navbar */
nav { background-color: #4acaa4; }

nav a {
	margin-left: 0.2em;

	font-size: 1.6em;
	font-weight: normal;
	color: white;
}

nav a:first-child .label { font-weight: bold; }

nav .label { font-size: 0.7em; }

nav .this-section { font-style: italic; }

nav hr {
	margin: 0px;

	color: white;
}
