:root {
  --paper-color: #ffffea;
  --dark-yellow: #99994c;
  --light-blue: #eaffff;
  --dark-blue: #8888cc;
  --light-gray: #eee;
  --dark-gray: #888;
}

html {
  background: var(--light-gray);
}

body {
  margin: 2rem auto;
  padding: .5rem 1rem .25rem;
  max-width: 60rem;
  border: 1px solid var(--dark-yellow);
  box-shadow: 2px 2px var(--dark-yellow);
}

body {
  line-height: 1.35rem;
  font-family: serif;
  text-rendering: optimizeLegibility;
  color: #000;
  background: #fff;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
}

header {
  margin-bottom: 2rem;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #000;
  background: #fff;
  padding: .2rem 1.5rem .2rem 1.5rem;
  margin: .1rem 0 .1rem 1rem;
  border: .1rem solid var(--dark-blue);
  box-shadow: .1rem .1rem var(--dark-blue);
}

nav li:first-child a {
  margin-left: 0;
}

nav a:active {
  color: #000;
  background: #fff;
  box-shadow: 0 0;
}

ul {
  padding: 0;
}

p {
  text-align: justify;
  hyphens: auto;
  text-justify: inter-word;
}

a {
  text-decoration: underline;
  border: 1px solid transparent;
}

a:hover, nav a:focus {
  text-decoration: none;
  color: #000;
  background: var(--light-blue);
}

a:active {
  text-decoration: none;
  color: #000;
  background: var(--light-blue);
  border: 1px solid var(--dark-blue);
}
