:root {
  --paper-color: #ffffea;
  --light-yellow: #eeee9e;
  --dark-yellow: #99994c;
  --light-blue: #eaffff;
  --dark-blue: #8888cc;
  --light-gray: #eee;
  --dark-gray: #888;

  --parspace: .6em;
}

html {
  background: var(--light-gray);
}

body {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 60rem;
  border: 1px solid var(--dark-yellow);
  box-shadow: 2px 2px var(--dark-yellow);
}

body {
  line-height: 1.35em;
  font-family: serif;
  text-rendering: optimizeLegibility;
  color: #000;
  background: #fff;
}

#content {
  margin: 0 auto;
  max-width: 45rem;
}

header {
  margin-bottom: 2rem;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.5rem, 1fr));
  gap: .4rem .8rem;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #000;
  border: .1rem solid var(--dark-blue);
  box-shadow: .1rem .1rem var(--dark-blue);
}

li.nav-active a {
  font-weight: bold;
  box-shadow: .2rem .2rem var(--dark-yellow);
}

li.nav-ancestor a {
  font-weight: bold;
}

nav a:active {
  box-shadow: 0 0;
}

p {
  text-align: justify;
  hyphens: auto;
  text-justify: inter-word;
  margin-top: 0;
  margin-bottom: var(--parspace);
}

a {
  text-decoration: none;
  border: 1px solid transparent;
}

a:hover {
  text-decoration: none;
  color: #000;
  background: var(--light-blue);
}

a:active {
  text-decoration: none;
  color: #000;
  background: var(--light-blue);
  border: 1px solid var(--dark-blue);
}

.title {
  font-size: 1.4rem;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

h1, h2, h3 {
  margin-block-end: .4em; /* above */
  margin-block-start: .8em; /* below */
}

table {
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 1rem;
}

thead tr {
  border: 1px solid #000;
  background: var(--light-blue);
}

tbody tr {
  border: 1px solid var(--dark-gray);
}

th, td {
  padding: .15rem .6rem .15rem;
  vertical-align: middle;
}

footer {
  margin-top: 2rem;
}

footer hr {
  margin-top: 0;
  margin-bottom: .4em;
}

footer p {
  font-size: 90%;
  text-align: left;
  margin-bottom: .1em;
}

footer :last-child {
  margin-bottom: 0;
}

hr {
  border-top: .1rem solid #000;
}

blockquote {
  width: 80%;
  margin: 0 auto var(--parspace) auto;
}

cite {
  display: block;
  text-align: right
}

img {
  display: block;
  margin: auto;
}

div {
  margin-bottom: var(--parspace);
}

ul {
  margin: 0;
  margin-block: 0 var(--parspace);
  padding: 0;
  padding-inline-start: 2em;
}
